<div class='px-3 link-container <%= @navigation_name == "faq" ? 'active' : '' %>'>
  <a
    class='w-100 d-flex align-items-center text-align-left py-2'
    href='/faq'
  >
    <i class="fas fa-comments mr-3 icon"></i>
    FAQ
  </a>
</div>
